*{
    box-sizing:border-box;
}
html{
    background-color:wheat;
}
div{
    background-color: darkcyan;
    float:left;
    border:2px solid black;
}
h1{
    text-align:center;
}
.title{
    float:right;
    width:30%;
    height:10%;
    margin:0;
    border-top:0px;
    border-right:0px;
    text-align:center;
}
#t1{
    background-color: pink;
}
#t2{
    background-color: lightsalmon;
}
#t3{
    background-color:yellow;
}
p{
    clear:both;
    margin:2%;
}
@media (min-width:992px){
    div{
        width:25%;
        margin:4%;
    }
}
@media (min-width:768px) and (max-width:991px){
    #box1,#box2{
        width:40%;
        margin:4%;
    }
    #box3{
        width:88%;
        margin:4%;
        clear:left;
    }
}
@media (max-width:767px){
    div{
        clear:both;
        width:80%;
        margin:2%;
    }
}
